<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Set the viewport so this responsive site displays correctly on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link href="../../assets/images/logo.png" rel="icon" type="image/x-icon" />

  <meta property="og:image" content="../../assets/images/logo.png">
  <meta property="og:title" content="JT News">
  <meta property="og:description" content="Welcome to JT News the best app brings you the latest news about politics, food, tech, world ...etc">
  <title>JT News</title>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Faster+One|Modak|Monoton" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="JT">JT</span><span class="NEWS">NEWS</span></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/entertainment">Entertainment</a></li>
          <li><a href="/food">Food</a></li>
          <li><a href="/health">Health</a></li>
          <li><a href="/politics">Politics</a></li>
          <li><a href="/science">Science</a></li>
          <li><a href="/technology">Technology</a></li>
          <li><a href="/world">World</a></li>
          <li><a href="/trending"><span class="red shadow">Trending News</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="news-feed">
  <marquee behavior="scroll" direction="left">
    {{#if articles}}
    {{#each articles}}<a href="{{link}}" class="noDefault">{{title}}....</a>
    {{/each}}</marquee>
    {{else}}
    {{#each dbArticles}}<a href="{{link}}" class="noDefault">{{title}}....</a>
    {{/each}}</marquee>
    {{/if}}
  </div>

  <div class="container-fluid">
    {{{body}}}
    <div class="emptyDiv">

    </div>
  </div>
  <footer class="footer navbar-fixed text-center">
    <span class="white small">&copy; <a class="noDefault" href="/" style="font-size: 0.5em;"><span class="JT">JT</span><span class="NEWS">NEWS</span></a> 2017</span>
  </footer>
  <script src="./assets/js/app.js" charset="utf-8"></script>
</body>
</html>
