{{#each articles}}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
  <a href="{{link}}">
    <div class="cardsContainer">
      <div class="card">
        <div class="row">
          <div class="imgCard col-xs-5 col-md-4">
            <img class="img" src="{{imgSrc}}" alt="{{title}}" >
          </div>
          <div class="col-xs-7 col-md-8 fitText">
            <h4 class="article-title">{{title}}</h4>
            <p class="content">{{content}}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
  <div class="text-center col-xs-12">
    <div class="form-inline" role="form">
      <form class="form-group trendingForm">
        <input class="form-control user" type="text" placeholder="Your Name ..." required/>
        <input class="form-control commentInput" type="text" placeholder="Your comment ..." required/>
        <button type="submit" class="btn-xs btn-default addComment" data-title="{{title}}" data-imgsrc="{{imgSrc}}" data-link="{{link}}">Add</button>
        <div class="help-block"></div>
      </form>
    </div>
  </div>
</div>
{{/each}}
